@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');
#logo {
    color: white;
    height: 35px;
    width: 104px;
    top: 11px;
    font-weight: 700;
    font-size: 29px;
    line-height: 35.1px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #0032e3;
}

#heading {
    font-weight: 600;
    color: white;
    font-size: 70px;
    line-height: 84px;
    width: 548px;
    top: 246px;
    left: 44px;
    margin-top: 168px;
}

#featureparagraph {
    color: white;
    width: 423px;
    height: 96px;
    top: 437px;
    left: 50px;
    font-weight: 400;
    size: 18px;
    line-height: 23.87px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 120px;
}

#heroimg {
    width: 1170px;
    height: 780px;
    top: 123px;
    left: 381px;
    margin-top: -580px;
    margin-left: 720px;
}

#main1 {
    margin: 70px;
    padding: 20px;
}

#main1 h1 {
    text-align: left;
    font-weight: 600;
    color: black;
    width: 419px;
}

#main1 p {
    text-align: left;
    font-weight: lighter;
    color: black;
    width: 368px;
}

.videodemoblock {
    margin: 150px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

#videotext {
    width: 419px;
    height: 96px;
    top: 23px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    font-family: 'Inter', sans-serif;
}

#videodemotext {
    width: 368px;
    height: 292px;
    top: 138px;
    color: #6D6D6D;
}

#watchvideo {
    background-color: #0032E3;
    font-weight: 700;
    size: 18px;
    font-family: 'Inter', sans-serif;
    width: 229px;
    height: 61px;
    border-radius: 10px;
}

.BG {
    display: flex;
    margin: 150px;
}

#rick {
    width: 498px;
    height: 564px;
    top: 107px;
    left: 50px;
    border-radius: 8px;
}

#rickheading {
    width: 664px;
    height: 92px;
    top: 154px;
    left: 625px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

#ricktext {
    margin: 150px;
}

h4 #rickstory {
    font-weight: 400;
    font-size: 21px;
    line-height: 21.85px;
    width: 108px;
    height: 28px;
    top: 313px;
    left: 624px;
}

p #text {
    display: flex;
    width: 301px;
    height: 312px;
    top: 354px;
    left: 625px;
    font-weight: 400;
    font-size: 16px;
    gap: 300px;
    text-align: justify;
}

#holding {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#coinlist {
    margin: 150px;
}

.coins {
    display: flex;
    gap: 30px;
}

#chart {
    display: flex;
    gap: 450px;
}

#coinvalue {
    color: #6D6D6D;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
}

#privacy {
    display: flex;
    background-color: #E8EEF8;
    margin: 150px;
}

#keyimg {
    margin-top: -110px;
}

#privacydiv {
    margin-top: 90px;
}

#trustedheading {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 437px;
    height: 89px;
}

#description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 349px;
    height: 125px;
}

#trusted {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#CTA {
    align-items: center;
}

#email {
    border: 1px solid black;
    display: flex;
    margin: 50px;
    width: 175px;
    height: 40px;
}